.header-text {
    margin: 5vw 0vw 5vw 10vw;

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1vw;
        color: #5863E3;
    }

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 4vw;
        color: #000000;
    }
}

form {
    display: flex;
}

.description-div {
    margin-left: 10vw;
    margin-right: 2vw;

    input {
        width: 52vw;
        height: 20vw;
        background-color: #F8F8F8;
        border: solid 2px #00000033;
        border-radius: 15px;
    }

    ::placeholder {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1.2vw;
        color: #99999A;
        top: 2vw;
        left: 2vw;
    }

    :focus {
        outline: none;
    }
}

.login-div {
    display: flex;
    flex-direction: column;
    max-width: 25vw;

    input {
        border-radius: 10px;
        background-color: #F8F8F8;
        border: solid 2px #00000033;
        width: 25vw;
        height: 4vw;
    }

    .submit {
        background-color: #5968F4;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1vw;
        color: #FBFBFF;
    }

    .name {
        margin-top: 1.3vw;
    }

    .mail {
        margin-top: 1.3vw;
        margin-bottom: 1.3vw;
    }

    ::placeholder {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1vw;
        color: #99999A;
        padding: 1vw;
    }

    :focus {
        outline: none;
    }
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #344188;
        background-color: #5968F4;
        width: 70px;
        height: 70px;
        font-size: 40px;
        border-radius: 50%;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    h4 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1.5vw;
        color: #4E4D54;
        padding: 5px;
    }

    p { 
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1vw;
        color: #99999A;
        padding: 5px;
    }

    .phone {
        margin: 0px 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mail { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.text-div {
    margin: 85px 0px 75px 155px;

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1vw;
        color: #5863E3;    
        margin-bottom: 10px;
    }

    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 3vw;
    }
}

.images-div {
    width: 1000vw;
    display: flex ;
    justify-content: space-around;
}


footer {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 372px;
    background-color: black;

    div {
        max-width: 130px !important;
        max-height: 15vh;
        display: flex;
        flex-direction: column;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.4vw;
        color: #FFFFFF;
    }

    li {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1vw;
        color: #5863E3;
    }
}

.footer-info {
    margin: 15px;
    max-width: 295px;
    
    h4 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1.4vw;
        color: #FFFFFF;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1vw;
        color: #99999A;
    }
}

.footer-image {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    img {
        width: 2.5vw;
    }
}

.useful-links {
    margin: 15px;
}

.privacy {
    margin: 15px;
}

.contact-info {
    margin: 15px;

    li {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 1vw;
        color: #FFFFFF;
    }

}